/* Smooth scrolling & clean base */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* Custom minimal scrollbar for sticky filter */
.custom-filter-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-filter-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-filter-scroll::-webkit-scrollbar-thumb {
  background: #E8DFD1;
  border-radius: 10px;
}

.custom-filter-scroll::-webkit-scrollbar-thumb:hover {
  background: #B47B2B;
}